<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="es">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action = "#" th:action="@{/publish}" method="post">

        <p>Email: <input type="text" th:field="*{member.email}"/> </p>
        <p>Nombre: <input type="text" th:field="*{member.name}"/> </p>
        <p>Numero: <input type="text" th:field="*{member.number}"/> </p>
        <button type="submit">Add</button>
    </form>
</body>
</html>