<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="es">
<head>
    <meta charset="UTF-8">
    <title>add</title>

    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body>
    <h1>ADD MEMBER</h1>
    <form action = "#" th:action="@{/publish}" method="post">
        <label>Email: <input type="text" th:field="*{member.email}"/> </label><br/>
        <label>Nombre: <input type="text" th:field="*{member.name}"/> </label><br/>
        <label>Numero: <input type="text" th:field="*{member.number}"/> </label><br/>
        <button type="submit"><span class="glyphicon glyphicon-save"></span> </button>
    </form>
</body>
</html>