<!DOCTYPE html>

<!--suppress ThymeleafVariablesResolveInspection -->
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="es">
<head>
    <meta charset="UTF-8">
    <title>Show</title>

    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body>
    <h1>Memeber</h1>
    <table style="color: #0f0f0f" >
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>Nombre</th>
            <th>Numero</th>
        </tr>

        <tr th:each = "m : ${members}">
            <td th:text="${m.id}"></td>
            <td th:text="${m.email}"></td>
            <td th:text="${m.name}"></td>
            <td th:text="${m.number}"></td>
            <td>
                <div th:with="edit=@{/edit(id=${m.id})}">
                    <a th:href="${edit}"><span class ="glyphicon glyphicon-edit"></span></a>
                </div>
            </td>
        </tr>
    </table>
    <br/><br/>
    <form action="#" th:action="@{/add}">
        <button type="submit"><span class="glyphicon glyphicon-plus-sign"></span></button>
    </form>
</body>
</html>